html {
  font-size: 1.5rem; /* 基准字体大小 */
}

.smaller-font {
  font-size: 0.8em; /* 相对于父元素字体大小的 80% */
}

table {
  border-collapse: separate;
  border-spacing: 15px 0px;
}

td {
  padding: 4px 0px;
}

body {
  caret-color: transparent;
}

/* nav bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
}

ul.navbar top {
  float: left;
  text-decoration: none;
}

ul.navbar top a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar top a:hover {
  background-color: #111;
}

/* container */
.container {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0.85rem;
}

.right-column {
  flex: 3;
  padding: 0.5rem 0.85rem;
  background-color: #e4e4e4;
}

/* Footer */
#jsfooter,
#jsfooter-small {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

/* Responsive styles For footer */
@media (max-width: 768px) {
  .left-column,
  .right-column {
    flex: 100%;
    max-width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .footer-large-screen {
    display: none;
  }

  .footer-small-screen {
    display: block;
  }
}

@media (min-width: 769px) {
  .footer-large-screen {
    display: block;
  }

  .footer-small-screen {
    display: none;
  }
}

.navbar-container {
  display: flex;
  justify-content: center;
}

/* 相册 图片 展示 */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  position: relative;
  width: 17rem;
  margin: 0.5rem;
  overflow: hidden;
  border: 0.3rem solid #000;
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item .comment {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

/* 相册 图片 展示 */
.gallery2x {
  display: flex;
  flex-wrap: wrap;
}

.gallery2x-item {
  position: relative;
  width: 17rem;
  margin: 0.5rem;
  overflow: hidden;
  border: 0.3rem solid #000;
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.gallery2x-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.gallery2x-item:hover img {
  transform: scale(1.1);
}

.gallery2x-item .comment {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}


/* 带标题的图片 */
.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-container img {
  border: 2px solid black;
  margin-right: 10px;
  transition: transform 0.2s;
}

.image-container a {
  color: black;
  text-decoration: none;
}

.image-container a:hover img {
  border-color: #006b88;
  transform: scale(1.1);
}

.comment-title {
  font-weight: bold;
}

/* Responsive styles for image-container */
@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .image-container img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) {
  .image-container {
    flex-direction: row;
  }

  .image-container img {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

button {
  display: inline-block;
  background-color: white;
  padding: 5px;
  width: 270px;
  color: black;
  text-align: center;
  border: 5px #bbbbbb;
  border-radius: 3px;
  font-family: Times New Roman;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

button:hover {
  background-color: #f0f0f0;
}

/* 实现折叠文字功能 */
details {
  font: "Times New Roman", "STZhongsong";
  padding: 5px 20px;
  margin-bottom: 10px;
}

summary {
  padding: 5px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 页内 nav */
ul.navbar2 {
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  text-align: center; /* Center the text */
}

ul.navbar2 li {
  display: block; /* Display list items as block */
  margin-bottom: 10px; /* Add some space between items */
}

ul.navbar2 li a {
  display: block;
  color: black; /* Set text color to black */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* Remove underline */
}

ul.navbar2 li a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

/* Education section */
.education-section {
  margin-top: 20px;
}

.education-item {
  display: flex;
  margin-bottom: 20px;
}

.education-date {
  flex: 1;
  font-weight: bold;
}

.education-details {
  flex: 3;
}

.education-header {
  display: flex;
  justify-content: space-between;
}

.education-institution {
  font-size: 1.1rem;
  font-weight: bold;
}

.education-location {
  font-size: 1rem;
  color: #666;
}

.education-degree {
  font-size: 1rem;
  color: #333;
}

.education-remarks {
  font-size: 0.9rem;
  color: #555;
}

/* Work section */
.work-section {
  margin-top: 20px;
}

.work-item {
  display: flex;
  margin-bottom: 20px;
}

.work-date {
  flex: 1;
  font-weight: bold;
}

.work-details {
  flex: 3;
}

.work-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-logo {
  margin-right: 10px;
}

.work-logo img {
  width: 2.2rem;
  height: auto;
}

.work-company {
  font-size: 1.1rem;
  font-weight: bold;
}

.work-location {
  font-size: 1rem;
  color: #666;
  margin-left: auto;
}

.work-position {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

.work-description {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}

.work-highlights {
  font-size: 0.9rem;
  margin-top: 10px;
  list-style-type: disc;
  padding-left: 20px;
}

.work-highlights li {
  margin-bottom: 5px;
}